@page "/"
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D;

<PageTitle>Index</PageTitle>

<h1 style="background-color: @style">Hello, world!</h1>
<p> PlayerID:@playerId inputXY:@inputX @inputY velocity:@velX @velY position:@posX @posY </p>
<div @ref="focusRef" tabindex="0" @onkeydown="HandleKeyDown" @onkeyup="HandleKeyUp">
    <BECanvas @ref="_myCanvas" Width="1280" Height="720"></BECanvas>
</div>


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private Blazor.Extensions.Canvas.Canvas2D.Canvas2DContext context;
    private ElementReference focusRef;
    protected Blazor.Extensions.BECanvasComponent _myCanvas;
    public int playerId = -1;
    string style = "white";
    public int inputX = 0;
    public int inputY = 0;
    public int velX = 0;
    public int velY = 0;
    public int posX = 0;
    public int posY = 0;

    protected override async void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            await focusRef.FocusAsync();
            if (playerId == -1) playerId = Game.MainFrame.CreateNewPlayer();
            context = await this._myCanvas.CreateCanvas2DAsync();
            //recive message
            Game.MainFrame.updateEvent += async date =>
            {
                await InvokeAsync(() =>
                {
                    //style = style == "grey" ? "black" : "grey";
                    velX = (int)Game.MainFrame.gameObjects[playerId].velocity[0];
                    velY = (int)Game.MainFrame.gameObjects[playerId].velocity[1];
                    posX = (int)Game.MainFrame.gameObjects[playerId].position[0];
                    posY = (int)Game.MainFrame.gameObjects[playerId].position[1];
                    Game.MainFrame.Render(playerId, ref context);
                    StateHasChanged();
                });
            };

        }
    }
    // send message
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        string key = e.Key;
        if (e.Key == "w" || e.Key == "W") { inputY = -1; }
        if (e.Key == "s" || e.Key == "S") { inputY =  1; }
        if (e.Key == "a" || e.Key == "A") { inputX = -1; }
        if (e.Key == "d" || e.Key == "D") { inputX =  1; }
        if(playerId != -1) { (Game.MainFrame.gameObjects[playerId].components[0] as Game.Player).SetInputs(inputX, inputY); }
    }
    private void HandleKeyUp(KeyboardEventArgs e)
    {
        string key = e.Key;
        if ((e.Key == "w" || e.Key == "W") && inputY == -1) { inputY = 0; }
        if ((e.Key == "s" || e.Key == "S") && inputY ==  1) { inputY = 0; }
        if ((e.Key == "a" || e.Key == "A") && inputX == -1) { inputX = 0; }
        if ((e.Key == "d" || e.Key == "D") && inputX ==  1) { inputX = 0; }
        if (playerId != -1) { (Game.MainFrame.gameObjects[playerId].components[0] as Game.Player).SetInputs(inputX, inputY); }
    }

    //this is for testing purposes
    //private async void Render(){
    //    if (context != null){
    //        await context.SetFillStyleAsync("lightgray");
    //        await context.FillRectAsync(0, 0, 1280, 720);
    //        foreach(Game.GameObject gameObject in Game.MainFrame.gameObjects.Values){
    //            foreach (Game.Render render in gameObject.renders)
    //            {
    //                if (render.type == Game.Render.Type.box)
    //                {
    //                    await context.SetFillStyleAsync(render.str);
    //                    await context.FillRectAsync(render.offset[0], render.offset[1], render.size[0], render.size[1]);
    //                }
    //            }
    //        }
    //    }
    //}
}