@page
<body onload="startGame();">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Tankio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main id="gameInterface" role="main" class="pb-3">
            <p id="framesSinceStart">0</p>
            <canvas id="gameScreen"></canvas>
            <p id="keyName">adfadf</p>
            <script>
                function startGame() {
                    myGameArea.start();
                }

                var myGameArea = {
                    canvas: document.createElement("canvas"),
                    start: function () {
                        this.posx = 1280/2;
                        this.posy = 720/2;

                        this.canvas = document.getElementById("gameScreen");
                        this.canvas.width = 1280;
                        this.canvas.height = 720;
                        this.context = this.canvas.getContext("2d");
                        this.frameNo = 0;
                        this.interval = setInterval(updateGameArea, 20);
                    },
                    clear: function () {
                        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
                    }
                }
                function updateGameArea() {
                    myGameArea.clear();
                    myGameArea.frameNo += 1;
                    document.getElementById("framesSinceStart").innerHTML = myGameArea.frameNo;
                    const ctx = myGameArea.canvas.getContext("2d");
                    ctx.fillStyle = "red";
                    ctx.fillRect(1280/2,720/2,100,100);


                }
                function drawOnCanvas(){

                }
                window.addEventListener('keypress', function (event) {
                    var name = event.key;
                    var code = event.code;

                    // Alert the key name and key code on keydown
                    document.getElementById("keyName").innerHTML = `Key pressed ${name} \r\n Key code value: ${code}`;
                    //alert(`Key pressed ${name} \r\n Key code value: ${code}`);
                });
            </script>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Tankio - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

